<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
        <form action="/quotes/<%= quote.id %>?_method=PATCH" method="POST">
            <section>
                <label for="quote">Edit Quote</label>
                <br>
                <textarea name="quote" id="quote" cols="30" rows="10"><%= quote.quote %>
                </textarea>
            </section>
            <section>
                <label for="korean">Edit Korean</label>
                <br>
                <textarea name="korean" id="label" cols="30" rows="10"><%= quote.korean %> 
                </textarea>
            </section>
            <button>submit</button>
        </form>
</body>
</html>